/* RESET */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  font-family: "Red Hat Display";
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* *********************************************************************************************************************************** */

html, body {
  height: 100%;
  width: 100%;
}

.main-container {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom right, white, 5%, rgb(86, 135, 205), 95%, white);
  /* background: linear-gradient(to top, white, 3%, rgb(27, 79, 235, 0.8)); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-container-start { /* before "start game" */
  background: linear-gradient(to top, gray, 4%, black);
  box-shadow: 12px 10px 7px 15px rgba(0, 0, 0, 0.5);
  width: 95vw;
  height: 90vh;
  border-radius: 50px;
  /* padding: 20px 42px 55px 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px; */
  color: white;
  font-weight: 700;

  /* --- new --- */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 3vw 9vh 3vw;
  justify-content: space-between;
}

.header {
  font-size: 1.2em;
}

.game-buttons { /* container for all buttons */
  /* height: min(70%, 35vw); */ height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%; /* 20px */
  text-align: center;
}

.europe, .usa, .worldwide { /* container for each label + button (which contains img) */
  /* height: 100%; */ height: 30vw;
  /* width: 31%; */ width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: calc(14px + .5vw);
}

.game-buttons a { /* button wrapper */
  padding: 0px;
  width: 100%;
  height: 88%; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, white, 5%, black);
  /* text-shadow: 3px 3px 1px rgba(60, 90, 190, 0.8); */
  color: white;
  border-radius: 6vw;
  /* border: 3px solid whitesmoke; */
  font-weight: 700;
  box-shadow: -2px -2px 5px 2px rgba(255, 255, 255, 0.6);
  /* border: 0.2rem outset black; */
}

.start-buttons { /* actual button */
  padding: 0px;
  width: 100%;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, white, 5%, black);
  /* text-shadow: 3px 3px 1px rgba(60, 90, 190, 0.8); */
  color: white;
  border-radius: 6vw;
  /* border: 3px solid whitesmoke; */
  font-weight: 700;
  border: 0.3rem outset black;
}

#usa-button img, #europe-button img, #worldwide-button img { /* img within button */
  height: 100%;
  width: 100%;
  /* border-radius: 70px; */ border-radius: 6vw;
}

.game-buttons a:hover {
  filter: brightness(1.25);
}

@media screen and (max-width: 600px) {
  body {
    height: 175%;
  }

  #game-one, #game-two {
    height: 100%;
  }

  .main-container {
    justify-content: center;
  }

  .game-container-start {
    height: 97%;
    justify-content: space-between;
    background: linear-gradient(to right, gray, 1%, black, 98%, gray);
    padding-bottom: 5vh;
  }

  .game-buttons {
    flex-direction: column;
    width: 60vh;
    height: 100%;
  }

  .europe, .usa, .worldwide {
    height: 62vw;
    width: 62vw;
  }
}

/* END FIRST PAGE */
/* --------------------------------------------------------------------------------------------------------------------------------------- */

#versionDisplayContainer {
  width: 52%;
  height: 52%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 1.5em;
  margin-bottom: 75px;
}

#versionDisplayContainer div {
  height: 52%;
  width: 52%;
  border-radius: 20px;
}

#versionDisplayContainer div>img {
  border-radius: 20px;
}

#game-one > .main-container > .game-container-start, #game-two > .main-container > .game-container-start { /* center the version display */
  justify-content: center;

}

@media screen and (max-width: 600px) {
  #versionDisplayContainer {
    width: 45vw;
    height: 45vh;
    margin-bottom: 0%;
  }

  #versionDisplayContainer div {
    height: 45vh;
    width: 45vw;
  }

}

/* END VERSION DISPLAY */
/* --------------------------------------------------------------------------------------------------------------------------------------- */

.game-container-next { /* once game starts */
  background-color: black;
  box-shadow: 12px 10px 7px 15px rgba(0, 0, 0, 0.5);
  width:95%;
  height: 90%;
  border-radius: 50px;
  padding: 15px;
  display: flex;
  gap: 15px;
}

@media screen and (max-width: 600px) {
  .game-container-next {
    height: 97%;
  }
}

.city-image {
  border-radius: 40px;
  background-color: white;
  width: 70%;
}

.city-image img {
  border-radius: 40px;
  width: 100%;
  height: 100%;
}

.game-panel {
  width: 30%;
  border-radius: 40px;
  border: 2px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  padding: 10px;
  font-weight: 700;
  gap: 40px;
}

.score {
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  /* flex-grow: 2; */
  height: 6.5%;
  border-bottom: 2px solid white;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  justify-content: start;
  border-radius: 40px;
  /* flex-grow: 3; */
  height: 60%; 
}

.choices {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 30px; 
  justify-content: space-between;
}

.choices button {
  /* background-color: black; */
  background: linear-gradient(to bottom right, white, 5%, black);
  /* text-shadow: 3px 3px 1px rgba(60, 90, 190, 0.8); */
  color: white;
  border-radius: 40px;
  border: 1px solid whitesmoke;
  box-shadow: 2px 2px 4px 2px white;
  height: 3em; 
}

.hints {
  width: 90%;
  /* flex-grow: 2; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 20%;
}

.hints button {
  padding-left: 12px;
  padding-right: 12px;
  background-color: white;
  box-shadow: 2px 2px 5px rgb(255, 255, 255, 0.9);
}

#answer {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.next-question-button-container {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.next-question-button {
  width: 9rem;
  height: 3rem;
  background: linear-gradient(to bottom right, white, 5%, black);
  /* text-shadow: 3px 3px 1px rgba(60, 90, 190, 0.8); */
  color: white;
  border-radius: 70px;
  border: 1px solid whitesmoke;
  box-shadow: 2px 2px 4px 2px white;
}

.calculating-container {
  border-bottom: 2px solid rgb(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  width: 70%;
  padding-bottom: 10px;
  text-align: center;
}

#calc {
  display: flex;
  justify-content: start;
  width: 80%;
}

.results {
  border: 2px solid rgb(20, 45, 253, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 95%;
  width: 74%;
  border-radius: 60px;
  padding: 25px 100px 30px;
  gap: 40px;
  background: linear-gradient(to bottom right, white, 0.5%, rgb(40, 65, 253, 0.6));
  /* box-shadow: 10px 6px 4px 4px rgba(255, 255, 255, 0.5); */
  box-shadow: 6px 2px 4px 6px rgba(120, 145, 253, 0.3), 7px 3px 4px 6px rgba(100, 125, 253, 0.35), 8px 4px 4px 6px rgba(80, 105, 253, 0.4),
  9px 5px 4px 6px rgba(60, 85, 253, 0.45), 10px 6px 4px 6px rgba(40, 65, 253, 0.5);
}

#resultsHeader {
  border-bottom: 2px solid rgb(255, 255, 255, 0.8);
  width: 70%;
  padding-bottom: 10px;
  font-size: 1em;
  text-align: center;
}

.resultsFirstSection {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 30px;
  width: 100%;
  height: 80%;
}

.results-sections {
  width: 100%;
  height: 15%;
  /* background-color: rgb(0, 0, 0, 0.4); */
  background: linear-gradient(to top left, rgb(90, 90, 90, 0.8), 5%, white);
  color: black;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  border-radius: 40px;
  font-size: 1.4em;
  font-weight: 800;
  padding: 20px;
}

#resultline4 {
  font-size: 1.3em;
}

.results-sections p {
  width: 27%;
}

#resultline4 {
  height: 35%;
  align-items: start;
}

#resultline3 span {
  font-size: 1.2em;
}

.results-sections span {
  font-weight: 500;
}

.game-container-end { /* styling for final game display" */
  background: linear-gradient(to top left, gray, 5%, black);
  box-shadow: 12px 10px 7px 15px rgba(0, 0, 0, 0.5);
  width:95%;
  height: 90%;
  border-radius: 50px;
  padding: 20px;
  display: flex;
  /* flex-direction: column; that's the main thing that changes */
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  gap: 20px;
}

#leftEnd {
  width: 13%;
  height: 95%;
  /* border: 3px solid whitesmoke; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 75px;
}

#rightEnd {
  width: 13%;
  height: 95%;
  /* border: 3px solid whitesmoke; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 75px;
}

#leftSideDiv {
  /* background: linear-gradient(to bottom, white, 3%, black); */
  /* box-shadow: 1px 1px 4px 4px rgb(245, 245, 245, 0.8); */
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  gap: 40px;
  /* border: 2px solid white; */
  padding: 10px 20px;
  /* border-radius: 30px; */
  font-weight: 400;
}

#rightSideDiv {
  /* background: linear-gradient(to bottom, white, 3%, black); */

  /* box-shadow: 1px 1px 4px 4px rgb(245, 245, 245, 0.8); */
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  gap: 40px;
  /* border: 2px solid white; */
  padding: 10px 20px 10px 30px;
  /* border-radius: 30px; */
  font-weight: 400;
}

.new-game-button {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to bottom right, white, 5%, black); */
  background: linear-gradient(to bottom right, white, 7%, rgb(27, 79, 235, 0.8));
  color: white;
  border-radius: 25px;
  box-shadow: 3px 3px 2px 2px rgba(120, 140, 235, 0.8);
  border: 1px solid rgba(10, 50, 235, 0.8);
  font-weight: 900;
  letter-spacing: .09rem;
}

.new-game-button:hover {
  margin-right: -2px;
  margin-top: 2px;
}